.hdmgli::before {
    background: rgb(0, 0, 0) !important;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(0, 0, 0) !important;
}

#reddit-no-repeat-loading {
    width: 100%;
    height: 100%;
    background-color: #eeebe9;
    z-index: 2147483647;
    color: #333333;
    position: fixed;
    text-align: center;
    padding-top: 20%;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.75;
}


.reddit-loading {
    display: inline-block;
    width: 250px;
    height: 220px;
}